@model string
<div class="row">
    <div class="@Settings.Col3">
        <partial name="_Menu" />
    </div>
    <div class="@Settings.Col9">
        <h4>Create Role</h4>
        <div asp-validation-summary="All" class="text-danger"></div>
        <form asp-action="CreateRole" method="post">
            <div class="form-group">
                <label for="name"></label>
                <input name="name" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
            <a asp-action="Roles" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>