<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Traffic & numbering department"/>
    <meta name="author" content="Sepehr Abbaszadeh"/>
    <title>@ViewData["Title"] - Sarnoa</title>
    <link href="~/css/site.min.css" rel="stylesheet" asp-append-version="true" />
    @await RenderSectionAsync("Links", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
            <a class="navbar-brand" href="#">سامانه نامبرینگ و روتینگ (سارونا)</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </header>
    <main class="container-fluid" style="padding-top:70px;padding-bottom:70px">
        @RenderBody()
    </main>
    <footer class="footer text-center small text-white p-2">
        Traffic & Numbering Department <br />Powered by ASP.NET Core 2.1, Entity Framework 2.1 and Bootstrap 4.
    </footer>
    <script src="~/js/main.min.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts",false)
</body>
</html>
